language: php

php:
  - 5.5
  - 5.6
  - 7.0

install: travis_retry composer install --no-interaction --prefer-source

before_script:
- export AWS_ACCESS_KEY_ID=foo
- export AWS_SECRET_ACCESS_KEY=bar

script: make travis

matrix:
  allow_failures:
    - php: 7.0
  fast_finish: true
