<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./tests/bootstrap.php"
         colors="true"
         forceCoversAnnotation="true">

    <testsuites>
        <testsuite name="unit">
            <directory suffix="Test.php">tests/</directory>
            <exclude>tests/IntegrationTest.php</exclude>
        </testsuite>
        <testsuite name="integ">
            <file>tests/IntegrationTest.php</file>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
            <exclude>
                <directory>src/models</directory>
            </exclude>
        </whitelist>
    </filter>

</phpunit>
